body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;

}


/* @@ -18,21 +18,19 @@ body {
} */


.nav-wrapper {
  background-color: #f6f5fa;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  
 
}

.topnav {
  margin: 0 auto;
  position: relative;
  top: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background-color: #f6f5fa;
  padding: 14px 16px;
  font-size: 18px;
  border-bottom: 1px solid black;
 
}
.topnav a:link, a:visited {
	padding: 15px 15px;
	text-decoration: none;
    color: black;
}
.topnav a:hover {
	background-color: none;
    color: #787878;
}
  
  .topnav a.active {
	 background-color: white;
     color: black;
     border: 1px solid black;
  
  }

body {
	display:flex;
  flex-direction:column;
  min-height:100vh;
}
  
.wrapperfentypedia {
  background-repeat: no-repeat;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  flex:1;
  }

#containerfentypedialogo {
    background: white;
    width: 100%;
    margin: 0 auto;
    position: relative;
	display: flex;
    justify-content: center;
	
	}
	
	.headerlogo {
  width: 100%;
  height: auto;
  text-align: center;
  background-image: url('img/fentypedia.png')
  background-color: white;
	}
	
.wrapper-beauty {
  background-repeat: no-repeat;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  flex:1;
}

#containerbeautylogo {
    background: #eddfdc;
    width: 80%;
    margin: 0 auto;
    position: relative;
	display: flex;
    justify-content: center;
	}
	
.logobeauty {
  width: 100%;
  height: 150px;
  text-align: center;
  background-image: url('img/beautylogo.png');
  background-color: #e5e4f4;
}

.img-fblaunch {
	 position: left;    
	margin: 10px 10px 10px 15px;
	height: 300px;
}

.img-galaxy {
 position: left;    
	margin: 10px 10px 10px 15px;
	height: 300px;
}	

.img-uncensored {
	position: left;
	margin: 10px 10px 10px 15px;
	height: 300px;
}

.img-mattemoiselle {
	position: left;    
	margin: 10px 10px 10px 15px;
	height: 300px;
}

.img-beachplease {
position: left;    
	margin: 10px 10px 10px 15px;
	height: 300px;
}

.wrapperskin {
  background-repeat: no-repeat;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  flex:1;
}

#containerskinlogo {
    background: #b2afc4;
    width: 80%;
    margin: 0 auto;
    position: relative;
	display: flex;
    justify-content: center;
	}
	
.logoskin {

  width: 100%;
  height: 150px;
  text-align: center;
  background-image: url('img/skinlogo.png');
  background-color: #b2afc4;
}



.wrappersavagex {
  background-repeat: no-repeat;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  flex:1;
}

#containersavagexlogo {
    background: #e5e4f4;
    width: 80%;
    margin: 0 auto;
    position: relative;
	display: flex;
    justify-content: center;
	}
	
	.logosavagex {
  width: 100%;
  height: 150px;
  text-align: center;
  background-image: url('img/savagexlogo.png');
  background-color: #e5e4f4;
}

.wrapperfenty {
  background-repeat: no-repeat;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  flex:1;
}

#containerfentylogo {
	background: #028cbd;
    width: 80%;
    margin: 0 auto;
    position: relative;
	display: flex;
    justify-content: center;
	}
	
.logofenty {
  width: 100%;
  height: 150px;
  text-align: center;
  background-image: url('img/fentylogo.png');
  background-color: #028cbd;
}



.img-founder {
	/*position: left;
	margin: 0px 10px 0px 15px;*/
	height: 300px;
}

#containerintro {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}


.boxed {
 /* border-bottom: 1px solid black;*/
 border-top: 1px solid black;
}

/*p {
	margin: 10px 10px 10px 15px;
	
}*/
h2 {
	margin: 10px 10px 10px 15px
}

  
  .wrapperom {
  background-repeat: no-repeat;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black; 
  flex:1;
  }
  
 
.footer {
  background-color: #f6f5fa;
  text-align: center;
  padding: 10px;
}